@CHARSET "UTF-8";
*{margin :0;padding: 0; font-size:100%;border:none;outline:none;font-weight: 300;box-sizing:border-box}
body{
    background: #e5e5e5;
}
.servico{
    background: white;
    width: 100%;
    float: left;
    padding: 2% 2%;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.meu-servico{
    background: white;
    width: 100%;
    padding: 3% 3%;
    margin: 20px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.titulo{
    margin: 10px;
    font-weight: bold;
    font-size: 2em;
}
.icone{
    width: 100%;
}
.title{
    font-size: 1em;
    width: 100%;
    font-weight: bold;
}
.de, .por{
    font-size: 0.8em;
    color: #ff0000;
    width: 100%;
}
.deItem, .porItem{
    font-size: 1.2em;
    font-weight: bold;
}
.parcela{
    font-size: 0.8em;
    width: 100%;
}
@media screen and (min-width: 768px) {
    .meu-servico{
        width: 25%;
    }
    .icone:hover{
        -webkit-transition: all 2s cubic-bezier(.190,1.000,.220,1.000);
        -moz-transition: all 2s cubic-bezier(.190,1.000,.220,1.000);
        -o-transition: all 2s cubic-bezier(.190,1.000,.220,1.000);
        -ms-transition: all 2s cubic-bezier(.190,1.000,.220,1.000);
        transition: all 2s cubic-bezier(.190,1.000,.220,1.000);
    }
    .title{
        font-size: 1.2em;
    }
    .de, .por, .parcela{
        font-size: 0.9em;
    }
    .deItem, .porItem{
        font-size: 1.5em;
    }
    .servico{
        width: 25%;
        height: 500px;
        overflow: hidden;
        cursor: pointer;
    }
    .servico:hover{
        height: auto;
        -webkit-transition: all 2s linear;
        -moz-transition: all 2s linear;
        -o-transition: all 2s linear;
        -ms-transition: all 2s linear;
        transition: all 2s linear;
    }
}